<div class="buttons-wrapper">
    <a href="/" class="logo">PasteBin</a>
    <div class="buttons">
        <a href="/new" class="btn">New</a>
        <button class="btn" type="submit">Save</button>
        <a href="/duplicate" class="btn">Duplicate</a>
    </div>
</div>